.page {
   @include layer;
   position: fixed;
   z-index: 2000;
   background: #F5F4F7;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 55px 20px 80px;
   font-size: 62.5%;

   @include media-breakpoint-up(md) {
      padding: 55px 55px 115px;
   }


   // .page__inner

   &__inner {
      max-width: 1250px;
      margin-left: auto;
      margin-right: auto;
   }

   // .page__hd

   &__hd {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;
   }

   // .page__title

   &__title {
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 43px;
      text-align: center;
      letter-spacing: 3px;
      max-width: 23px;

      @include media-breakpoint-up(md) {
         font-size: 48px;
         line-height: 69px;
         max-width: 42px;
      }

      @include media-breakpoint-up(lg) {
         max-width: 74px;
      }
   }

   // .page__icon

   &__icon {
      position: absolute;
      font-size: 30px;
      cursor: pointer;

      @include media-breakpoint-up(md) {
         font-size: 50px;
      }

      @include media-breakpoint-up(lg) {
         font-size: 60px;
      }
   }

   // .page__icon--left

   &__icon--left {
      left: 0;
   }

   &__icon--right {
      right: 0;
   }

   // .page__bd

   &__bd {}
}

