@import 'basic/mixins';
@import 'basic/reset';
@import 'basic/colors';

@import '/fonts/roboto/stylesheet.css';
@import '/fonts/gilroy/stylesheet.css';

@import '../../node_modules/bootstrap/scss/bootstrap-utilities.scss';

@import 'module/gall/gall';
@import 'module/page/page';
@import 'module/nav/nav';

.form-label {
  font-size: 16px;
}

.form-sublabel {
  font-size: 13px;
  margin-bottom: 5px;
}

.info-text {
  font-size: 19px;
  font-family: Roboto;
}

.seccond-text {
  color: #a2a2a2;
  font-weight: 400;
}
